
body {
	margin: 0;
}

header{
	width: 100%;
	height: 45px;
	background-color: #222;
}

.alert-main{
	max-width: 60%;
    margin: 30px auto;
    text-align: center;
}


#footer-main{
  background-color: #222;
}

#footer-main a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#footer-main a:hover {
  opacity: 0.5;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45px;
}
